@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: "TestSöhne-Fett";
}

@font-face {
  font-family: "TestSöhne-Fett"; /*Can be any text*/
  src: local("TestSöhne-Fett"), url("../fonts/TestSöhne-Fett.otf") format("opentype");
}
.dash {
  grid-area: a;
}

.nav {
  grid-area: b;
  right: 18%;
  position: relative;
}

.header {
  grid-area: c;
}

.chart-container {
  grid-area: d;
  right: 18%;
  position: relative;
}

.left {
  grid-area: e;
}

.right {
  grid-area: f;
}

.grid-container {
  display: grid;
  grid-template-areas: "a a b b b b" "a a c c c c" "a a d d d d" "a a e e f f";
  gap: 30px;
  width: 100%;
  grid-template-columns: 16.6666667% 16.6666667% 16.6666667% 16.6666667% 16.6666667% 16.6666667%;
}

.dash {
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
}
.tabs h2 {
  border-left: 4px solid #FF5403;
  color: #FF5403;
}
.tabs a {
  text-decoration: none;
}
.tabs a img {
  position: relative;
  top: 3px;
}

.pad {
  padding-left: 40px;
  color: black;
}

.prof {
  justify-content: space-between;
}
.prof img {
  border-radius: 999px;
}
.prof p {
  color: gray;
  font-size: 14px;
}

.circleChart {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 33%;
}

.text {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.text h3 {
  color: black;
}
.text p span {
  padding-left: 10px;
}

.chart h2 {
  color: #FF5403;
}

.header {
  bottom: 73px;
  right: 18%;
  position: relative;
}
.header h1 {
  color: black;
}
.header p {
  color: gray;
}
.header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.header ul .normal {
  text-align: center;
  padding-right: 30px;
}

.focus {
  border: 2px solid #FF5403;
  background-color: #f9d2c0;
  border-radius: 24px;
  color: #FF5403;
  padding: 6px;
  width: 70px;
  height: 30px;
}