body {
  margin: 0;
  padding: 0;
}

.dash {
  grid-area: a;
}

.nav {
  grid-area: b;
}

.header {
  grid-area: c;
}

.chart-container {
  grid-area: d;
}

.left {
  grid-area: e;
}

.right {
  grid-area: f;
}

.grid-container {
  display: grid;
  grid-template-areas: "a a b b b b" "a a c c c c" "a a d d d d" "a a e e f f";
  gap: 30px;
}

.dash {
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
}
.tabs h2 {
  border-left: 4px solid #FF5403;
}
.tabs a {
  text-decoration: none;
}

.pad {
  padding-left: 40px;
}

.prof {
  justify-content: space-between;
}
.prof img {
  border-radius: 999px;
}
.prof p {
  color: gray;
  font-size: 14px;
}

.circleChart {
  display: flex;
  flex-direction: row;
}
.circleChart h1 {
  color: black;
}

.text {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.chart h2 {
  color: #FF5403;
}

.header h1 {
  color: black;
}
.header p {
  color: gray;
}
.header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.focus {
  border: 2px solid #FF5403;
  background-color: #ff5e12;
  border-radius: 5px;
  color: #FF5403;
}