body {
    margin: 0;
    padding: 0;
  }
  
  .dash { grid-area: a; }
  .nav { grid-area: b; }
  .header { grid-area: c;}
  .chart-container { grid-area: d; }
  .left { grid-area: e; }
  .right { grid-area: f; }
  
  .grid-container {
    display: grid;
    grid-template-areas:
      'a a b b b b'
      'a a c c c c'
      'a a d d d d'
      'a a e e f f';
    gap: 30px;
  }  
  