.dash
{
    display: flex;
    flex-direction: column;
}
.tabs
{
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
    h2
    {
        border-left: 4px solid $secondary;
        color: $secondary;
    }
    a
   {
    text-decoration: none;
    img 
    {
        position: relative;
        top: 3px;
    }
  }
}
.pad
{
    padding-left: 40px;
    color: $primary;
}

.prof 
{
    justify-content: space-between;
    img
    {
        border-radius: 999px;
    }
    p
    {
        color: gray;
        font-size: $font-sm;
        position: relative;
        bottom: 43px;
        left: 42px;
    }
}