.dash
{
    display: flex;
    flex-direction: column;
}
.tabs
{
    display: flex;
    flex-direction: column;
    h2
    {
        border-left: 4px solid $secondary;
    }
}
.pad
{
    padding-left: 40px;
}

.prof 
{
    justify-content: space-between;
    img
    {
        border-radius: 999px;
    }
    p
    {
        color: gray;
    }
}