.dash
{
    display: flex;
    flex-direction: column;
    width: 15%;
}
.tabs
{
    display: flex;
    flex-direction: column;
    h2
    {
        border-left: 4px solid $secondary;
    }
}
.pad
{
    padding-left: 40px;
}