.header
{
    bottom: 73px;
    right: 18%;
    position: relative;

    h1
    {
        color: $primary;
    }
    p
    {
        color: gray;
    }
    ul
    {
        list-style: none;
        display: flex;
        flex-direction: row;
        .normal
        {
            text-align: center;
            padding-right: 30px;
        }
    }
}

.focus
{
    border: 2px solid $secondary;
    background-color: #f9d2c0;
    border-radius: 59px;
    color: $secondary;
    height: 24px;
    padding: 10px;
    width: 60px;
    position: relative;
    right: 13px;
    bottom: 10px;
}