.header
{
    position: relative;
    bottom: 35px;

    h1
    {
        color: $primary;
    }
    p
    {
        color: gray;
    }
    ul
    {
        list-style: none;
        display: flex;
        flex-direction: row;
        li
        {
            text-align: center;
            padding-right: 30px;
        }
    }
}

.focus
{
    border: 2px solid $secondary;
    background-color: #f9d2c0;
    border-radius: 24px;
    color: $secondary;
    padding: 6px;
    width: 70px;
    height: 30px;
}