.circleChart
{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 33%;
}
.text
{
    h3
    {
        color: $secondary;
        text-align: right;
        font-size: $font-sm;
    }
    text-align: left;
    display: flex;
    flex-direction: column;
    p
    {
        span
        {
            padding-left: 10px;
        }
    }
}
.chart
{
    h2
    {
        color: $secondary;
    }
}
.donut
{
    width: 300px;
    position: relative;
    left: 12%;
    bottom: 61px;
}