.circleChart
{
    display: flex;
    flex-direction: row;
    h1
    {
        color: $primary;
    }
}
.text
{
    text-align: left;
    display: flex;
    flex-direction: column;
}
.chart
{
    h2
    {
        display: flex;
        color: $secondary;
    }
}